.root {
    -fx-background-color: purple;
}

.text-field {
    -fx-font-size: 18px;
    -fx-background-color: white;
    -fx-border-color: pink;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: lightgrey;
    -fx-text-fill:purple;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.button:hover {
    -fx-background-color: pink;
}

.button:pressed {
    -fx-background-color: white;
}

.menu-bar {
    -fx-background-color: lightgrey;
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: purple;
}
.about-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.about-layout {
    -fx-background-color: purple;
    -fx-padding: 20px;
    -fx-spacing: 15px;
}

.about-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: lightgrey;
    -fx-text-fill: purple;
    -fx-background-radius: 8px;
}